{{define "ROOT"}}
package app

import (
    "github.com/elos/ehttp/builtin"
    "github.com/elos/app/routes"
)

func router({{range $service, $_ := .Services}} {{$service}} services.{{name $service}}, {{end}}) serve.Router {
    router := builtin.NewRouter()
    userAuther := routes.NewUserAuthenticator(db, sessions)

    {{range $key, $endpoint := .Endpoints}}
            {{with $action := $endpoint.Action}}
            {{if userAuth $endpoint}}
            router.{{action $action}}(routes.{{name $endpoint.Name}}, routes.UserAuth(func(c *serve.Conn, u *models.User) {
                    routes.{{name $endpoint.Name}}{{name (action $action)}}({{argsFor $endpoint}})
                }, userAuther))
            {{else}}
            router.{{action $action}}(routes.{{name $endpoint.Name}}, func(c *serve.Conn) {
                    routes.{{name $endpoint.Name}}{{name (action $action)}}({{argsFor $endpoint}})
                })
            {{end}}
            {{end}}
    {{end}}

    {{range $staticServe, $staticDir := .Static}}
    router.ServeFiles("{{staticPath $staticServe}}", http.Dir("{{$staticDir}}"))
    {{end}}

    return router
}
{{end}}
