{{define "ROOT"}}
package {{downcase .Name}}

import (
    "github.com/elos/ehttp/builtin"
    "github.com/elos/app/routes"
)

var root string

func init() {
    _, filename, _, _ := runtime.Caller(1)
    root = filepath.Dir(filename)
}

func router(m *Middleware, s *Services) serve.Router {
    router := builtin.NewRouter()

    {{range $index, $endpoint := .Endpoints}}
        router.{{action $endpoint.Action}}(routes.{{name $endpoint.Name}}, func(c *serve.Conn) {
            {{range $index, $middleware := $endpoint.Middleware}}
            if ok := m.{{name $middleware}}.Inbound(c); !ok {
                return
            }
            {{end}}

            routes.{{name $endpoint.Name}}{{name (action $endpoint.Action)}}({{argsFor $endpoint}})

            {{range $index, $middleware := $endpoint.Middleware}}
            if ok := m.{{name $middleware}}.Outbound(c); !ok {
                return
            }
            {{end}}
        })
    {{end}}

    {{range $staticServe, $staticDir := .Static}}
    router.ServeFiles("{{staticPath $staticServe}}", http.Dir(filepath.Join(root, "{{$staticDir}}")))
    {{end}}

    return router
}
{{end}}
